In [2]:
import numpy as np
import pandas as pd
import pylab as pl
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline
import seaborn as sns
import pydot

import subprocess
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.tree import export_graphviz

In [48]:
data=pd.read_csv("datasets/ORGANICS.csv",encoding="cp1251")
print(data.shape) 
print(data.info())

(22223, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22223 entries, 0 to 22222
Data columns (total 13 columns):
ID                 22223 non-null int64
DemAffl            21138 non-null float64
DemAge             20715 non-null float64
DemCluster         21549 non-null float64
DemClusterGroup    21549 non-null object
DemGender          19711 non-null object
DemReg             21758 non-null object
DemTVReg           21758 non-null object
PromClass          22223 non-null object
PromSpend          22223 non-null float64
PromTime           21942 non-null float64
TargetBuy          22223 non-null int64
TargetAmt          22223 non-null int64
dtypes: float64(5), int64(3), object(5)
memory usage: 2.2+ MB
None

In [49]:
data = data.dropna()
print(data.info)

<bound method DataFrame.info of              ID  DemAffl  DemAge  DemCluster DemClusterGroup DemGender  \
0           140     10.0    76.0        16.0               C         U
1           620      4.0    49.0        35.0               D         U
2           868      5.0    70.0        27.0               D         F
3          1120     10.0    65.0        51.0               F         M
4          2313     11.0    68.0         4.0               A         F
...         ...      ...     ...         ...             ...       ...
22216  52830893     13.0    49.0         8.0               B         M
22218  52834058     13.0    65.0         9.0               B         F
22219  52834376     15.0    73.0        34.0               D         U
22220  52837057      9.0    70.0        15.0               B         F
22221  52838096     11.0    66.0         8.0               B         F

           DemReg      DemTVReg PromClass  PromSpend  PromTime  TargetBuy  \
0        Midlands  Wales & West      Gold   16000.00       4.0          0
1        Midlands  Wales & West      Gold    6000.00       5.0          0
2        Midlands  Wales & West    Silver       0.02       8.0          1
3        Midlands      Midlands       Tin       0.01       7.0          1
4        Midlands      Midlands       Tin       0.01       8.0          0
...           ...           ...       ...        ...       ...        ...
22216  South East        London    Silver     500.00       9.0          0
22218  South East        London    Silver    1500.00       5.0          0
22219  South East    S & S East      Gold    6053.06      12.0          0
22220       North     Yorkshire      Gold    6000.00       5.0          0
22221       North        N West    Silver    5000.00       5.0          0

       TargetAmt
0              0
1              0
2              1
3              1
4              0
...          ...
22216          0
22218          0
22219          0
22220          0
22221          0

[16408 rows x 13 columns]>

In [50]:
data.head()

,ID,DemAffl,DemAge,DemCluster,DemClusterGroup,DemGender,DemReg,DemTVReg,PromClass,PromSpend,PromTime,TargetBuy,TargetAmt
0,140,10.0,76.0,16.0,C,U,Midlands,Wales & West,Gold,16000.00,4.0,0,0
1,620,4.0,49.0,35.0,D,U,Midlands,Wales & West,Gold,6000.00,5.0,0,0
2,868,5.0,70.0,27.0,D,F,Midlands,Wales & West,Silver,0.02,8.0,1,1
3,1120,10.0,65.0,51.0,F,M,Midlands,Midlands,Tin,0.01,7.0,1,1
4,2313,11.0,68.0,4.0,A,F,Midlands,Midlands,Tin,0.01,8.0,0,0

In [51]:
x=data[['DemAffl',  'DemAge', 'DemCluster', 'PromSpend', 'PromTime']]
y=data.values[::,11]
y=y.astype('int')

In [52]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [53]:
tree=DecisionTreeClassifier(max_depth=4, random_state=0)
tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=4,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

In [54]:
print(tree.score(X_train, y_train)) 
print(tree.score(X_test, y_test))

0.8031345232912495
0.7885435709932967

In [55]:
import pydot
export_graphviz(tree, out_file='dots/tree.dot', 
               rounded = True, proportion = False, 
                precision = 2, filled = True)

(graph, ) = pydot.graph_from_dot_file('dots/tree.dot')

graph.write_png('img/tree.png')

## dz1

In [56]:
etree=DecisionTreeClassifier(max_depth=5, criterion='entropy')
etree.fit(X_train, y_train)

print(etree.score(X_train, y_train)) 
print(etree.score(X_test,y_test))

0.8060078363082281
0.7899654682104408

In [57]:
export_graphviz(tree, out_file='dots/etree.dot', 
               rounded = True, proportion = False, 
                precision = 2, filled = True)

(graph, ) = pydot.graph_from_dot_file('dots/etree.dot')

graph.write_png('img/etree.png')

In [58]:
datanp = np.zeros((5,5),dtype=float)
for i in range(1,6):
    for j in range(1,6):
        tree=DecisionTreeClassifier(max_depth=i, min_samples_leaf=j)
        tree.fit(X_train, y_train)
        datanp[i-1,j-1]=tree.score(X_train, y_train)
df = pd.DataFrame(data=datanp, index = list('12345'), 
                  columns=list('12345'))
df

          1         2         3         4         5
1  0.764301  0.764301  0.764301  0.764301  0.764301
2  0.793296  0.793296  0.793296  0.793296  0.793296
3  0.794515  0.794515  0.794515  0.794515  0.794515
4  0.803135  0.803135  0.803135  0.803135  0.803135
5  0.806791  0.806791  0.806791  0.806791  0.806791